body{
    margin: 0;
    font-family: arial, sans-serif;
    background: #121212;
    color: #fff;
}
header{
    padding: 20px;
    text-align: center;
    background: #1f1f1f;
}
.card{
    background: #1e1e1e;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}
.rating span{
    cursor: pointer;
    font-size: 20px;
}main{
    margin: 0 auto;
    width: 60vw;
    height: 90vw;
    background-color: rgb(16, 17, 17);
}
