body{
    margin: 0;
    font-family: arial, sans-serif;
    background: #121212;
    color: #fff;
}
header{
    padding: 20px;
    text-align: center;
    background: #1f1f1f;
}
main{
    margin: 0 auto;
    width: 60vw;
    height: 90vw;
    background-color: rgb(16, 17, 17);
}
